.dashboard-nav-container {
  background-color: #07212a;
  padding: 0 3rem;
}
.dashboard-nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.dashboard-nav-top ul {
  display:flex;
  align-items: center;
}
.dashboard-nav-top ul:last-child li {
  margin-left: 2rem;
}
.dashboard-nav-top ul:last-child li:last-child a {
  color: #fff;
  font-weight: 500;
}
.dashboard-nav-top img {
  width: 40px;
  height: 40px;
  margin-left: 1rem;
}
.dashboard-nav-bottom {
  padding: 1rem 0;
}
.dashboard-nav-bottom ul {
  display: flex;
}
.dashboard-nav-bottom ul li {
  margin-right: 2.2rem;
  position: relative;
}
.dashboard-nav-bottom ul li a {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  white-space: nowrap;
}
.dashboard-nav-bottom ul li a.active .dashboard-nav-arrow-up {
  display: inline-block;
}
.dashboard-nav-arrow-up {
  display: none;
  position: absolute;
  bottom: -1rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.5rem solid #fff;
}
.dashboard-accounts-main {
  display: flex;
  background-color: #edeff1;
  padding: 2rem 1.25rem;
  gap: 1.5rem;
}
.accounts-container {
  width: 100%;
  background-color: #fff;
  border: 1px solid #bcbcbc;
  border-radius: 10px;
  align-self: baseline;
}
.accounts-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem 1rem 1rem;
}
.accounts-header h4 {
  font-weight: 600;
}
.accounts-header svg {
  margin-left: 1.25rem;
}
.accounts-container hr {
  margin: 0;
}
.accounts-body {
  padding: 1rem;
}
.accounts-body h3 {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
}
.accounts-body h3 svg {
  margin-right: 0.5rem;
}
.create-account-btn {
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: #07212a;
  color: #fff;
  border-radius: 0.25rem;
  font-weight: 500;
}
.create-account-btn svg {
  margin-right: 0.5rem;
}
.account-slide-panel {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  z-index: 10;
}
.account-slide-panel-content {
  background-color: #8bc34a;
  padding: 1.25rem;
  width: 400px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  z-index: 2;
}
.account-slide-panel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}
.account-slide-panel.show .account-slide-panel-overlay {
  opacity: 1;
}
.account-slide-panel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.account-slide-panel-header h3 {
  color: #07212a;
  font-size: 1.75rem;
  text-transform: uppercase;
  font-weight: 600;
}
.account-create-form {
  background-color: #fff;
  border-radius: 0.25rem;
  overflow: hidden;
}
.account-create-form hr {
  margin: 0;
}
.account-create-form-header {
  padding: 0.5rem 1rem;
  background-color: #edeff1;
  font-size: 1.25rem;
}
.account-create-form-body {
  padding: 0.5rem 1rem;
}
.account-create-form-body div {
  padding: 0.5rem 0;
}
.account-create-form-body label {
  font-weight: 700;
  font-size: 0.9rem;
}
.account-create-form-footer {
  padding: 1rem;
}
.account-create-form-footer button {
  width: 50%;
  padding: 0.5rem 1rem;
  background-color: #07212a;
  color: #fff;
  border-radius: 0.25rem;
  font-weight: 500;
}
.account-rewards-container {
  width: 540px;
}
.account-rewards-block {
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #bcbcbc;
  border-radius: 10px;
}
.account-rewards-block h5 {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #414042;
}
.account-rewards-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.account-rewards-logo {
  width: 2.1rem;
  height: 2.1rem;
  margin-right: 0.5rem;
}
.account-rewards-col {
  padding-right: 0.5rem;
}
.account-rewards-col span {
  font-size: 1.5rem;
}
.account-rewards-tp {
  font-size: 0.75rem;
  color: #7a7a7a;
  line-height: 1.3;
}
.account-rewards-tep {
  font-size: 0.9rem;
  color: #414042;
}
.account-rewards-circle {
  min-width: 3rem;
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
  background-color: #e7f5fe;
  border-radius: 50%;
}
