.enrollment-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.enrollment-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px;
  width: 550px;
  height: 550px;
  background-color: #fff;
  z-index: 1;
  border-radius: 7px;
}
.enrollment-btn-back {
  display: inline-block;
  margin-bottom: 20px;
}
.enrollment-container h1 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 10px;
}
.enrollment-container h2 {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 30px;
}
.enrollment-form .form-row {
  display: flex;
  gap: 30px;
}
.enrollment-form .form-row .form-group {
  width: 100%;
}
.enrollment-form .form-group {
  max-width: 100%;
  margin: 0 auto 5px auto;
  padding: 12px 0;
  position: relative;
}
.enrollment-form .form-group input {
  width: 100%;
  height: 40px;
  display: block;
  padding: 5px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ccc;
}
.enrollment-form .form-group label {
  color: #717171;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(10px, 22px);
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}
.enrollment-form .form-group input:valid,
.enrollment-form .form-group input:focus {
  border-bottom: 2px solid #05a7c1;
  outline: none;
}
.enrollment-form .form-group input:valid + label,
.enrollment-form .form-group input:focus + label {
  color: #333;
  font-size: 14px;
  transform: translateY(0);
}
.enrollment-form button {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #fff;
  background-color: #22d2ab;
  font-size: 16px;
  font-weight: bold;
  border-radius: 7px;
}
.enrollment-form a {
  display: block;
  font-size: 14px;
  color: #015ab4;
  line-height: 1.6;
  text-decoration: none;
}