.not-found-container {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: #383c58;
}
.not-found-container h1 {
  text-align: center;
  font-size: 200px;
  line-height: 1;
}
.not-found-container h2 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 10px;
}
.not-found-container p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}
.not-found-container a {
  width: 100%;
  height: 50px;
  font-size: 20px;
  color: #fff;
  background-color: #383c58;
  color: #fff;
}
