.verify-email-container {
  width: 300px;
  height: 250px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #ffb438;
  border-radius: 4px;
  padding: 15px;
}
.verify-email-container h3 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 15px;
}
.verify-email-container h2 {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.verify-email-loading-spinner-wrap {
  display: block;
  height: 80px;
}
.verify-email-loading-spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 5px solid #fff;
  border-top: 5px solid #67c;
  border-radius: 50%;
  width: 80px;
  min-height: 80px;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  -o-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}